.terraform/
demo-1/PIL/
demo-1/PIL/
demo-1/pillow-11.1.0.dist-info/
demo-1/pillow.libs/
demo-1/resized-image.png
demo-4/.terraform.lock.hcl
demo-4/terraform.tfstate
demo-4/terraform.tfstate.backup
tests/__pycache__/
mocking/__pycache__
